<% provide(:title, 'Make it Snappy Q&A') %>

<div id="ask">
  <h1>Ask a Question</h1>

  <% if logged_in? %>
    <%= render 'question_form' %>
  <% else %>
    <p>Please login to ask or answer a question</p>
  <% end %>
</div>

<div id="questions">
  <h2>Unsolved Questions</h2>

  <% if @questions.any? %>
    <%= render @questions %>
    <%= will_paginate %>
  <% else %>
    <p>No questions has been asked.</p>
  <% end %>
</div>