<% provide(:title,  'Question Asked') %>

<h1>
  <%= @question.user.username.capitalize %> Asked:
</h1>

<p>
  <%= @question.body %>
</p>

<div id="post-answer">
  <h1>Answer this Question</h1>

  <% if logged_in? %>
    <%= render 'answers/answer_form' %>
  <% else %>
    <p>Please login to answer the question.</p>
  <% end %>
</div>